<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
    name="ItsMe Prince"
    content="ItsMe Prince Shop is a webpage through which you can purchase cheap in-game items. You can also see the current purchase data through direct dynamic database link up! You can also modify the data and delete the data.">
    <meta name="keywords" content="online store, cheap ingame items, cheap games items, purchase game items">
    <meta name="robots" content="noindex, nofollow">
    <title>ItsMe Prince Shop | <%=Title%></title>
    <link rel="icon" href="/images/logo_png.png">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/data-handler.css">
    <link rel="stylesheet" href="/styles/new.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/search-menu.css">
    <link rel="stylesheet" href="/styles/details.css">
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>