<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ItsMe Prince Shop | <%=Title%></title>
    <link rel="icon" href="images/logo_png.png">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/data-handler.css">
    <link rel="stylesheet" href="/styles/new.css">
</head>
<body>