<div class="navbar">
    <div class="home">
        <a href="/">Home</a>
    </div>
    <ul type="none" class="list">
        <li><a href="https://discord.gg/spHgh4PGzF" target="_blank">Discord</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>