<%- include('components/header',{Title: "About"}) -%>
    <div class="MainNoteInMiddle">
        <h1>About</h1>
        <p>ItsMe Prince Shop is a place where you can purchase in-game items for cheap. We try to offer best prices in order ease your financial pain when spending your hard earned money into the game. You can join our Discord Server to purchase the items which are currently available.</p>
        <div class="about-buttons">
            <a href="/">
                <button>Home</button>
            </a>
            <a href="https://discord.gg/spHgh4PGzF" target="_blank">
                <button>Discord</button>
            </a>
        </div>
    </div>
<%- include('components/footer'); -%>