<%- include('components/header', {title: 'ItsMe Prince Shop'}) -%>


    Data Handler

    <a href="/Data-Handler/new">
        <Button>Add new purchase</Button>
    </a>

    <a href="/Data-handler/details">
        <button>Show Details</button>
    </a>
    
    <a href="/">
        <button>home</button>
        </a>
    
<%- include('components/footer'); -%>