<%- include('components/header') -%>
<%- include('components/navbar') -%>
    <div class="MEGACONTAINER">
        <div class="header-title">
                <h1>Hey! Hope you're doing well!</h1>
        </div>
        <div class="header-main-base">
            <div class="header-tag-card">
                <button class="header-tag-card-button">Home</button>
                <div class="header-tag-card-note">
                    This takes you home!
                </div>
            </div>
            <div class="header-tag-card">
                <button class="header-tag-card-button">Purchase</button>
                <div class="header-tag-card-note">
                    You can purchase an item through our Discord Server!
                </div>
            </div>
            <div class="header-tag-card">
                <button class="header-tag-card-button">Add</button>
                <div class="header-tag-card-note">
                    Add a new purchase order details!
                </div>
            </div>
            <div class="header-tag-card">
                <button class="header-tag-card-button">Show</button>
                <div class="header-tag-card-note">
                    Show all the purchase details up until now!
                </div>
            </div>
        </div>
    </div>
<%- include('components/footer'); -%>