<%- include('components/header',{Title: "Menu"}) -%>
<%- include('components/navbar') -%>
    <div class="MEGACONTAINER">
        <div class="header-title">Hey! Hope you're doing well!</div>
        <div class="header-main-base">
            <div class="header-tag-card">
                <button class="header-tag-card-button btn-1"><img src="icons/home.png"></button>
            </div>
            <div class="header-tag-card-note">
                This takes you to Homepage!
            </div>
            <div class="header-tag-card">
                <button class="header-tag-card-button btn-2"><img src="icons/purchase.png"></button>
            </div>
            <div class="header-tag-card-note">
                You can purchase an item through our Discord Server!
            </div>
            <div class="header-tag-card">
                <button class="header-tag-card-button btn-3"><img src="icons/add.png"></button>
            </div>
            <div class="header-tag-card-note">
                Add a new purchase order details!
            </div>
            <div class="header-tag-card">
                <button class="header-tag-card-button btn-4"><img src="icons/search.png"></button>
            </div>
            <div class="header-tag-card-note">
                You can search the database!
            </div>
            <div class="header-tag-card">
                <button class="header-tag-card-button btn-5"><img src="icons/show.png"></button>
            </div>
            <div class="header-tag-card-note">
                Show all the purchase details up until now!
            </div>
        </div>
            
    </div>
<%- include('components/footer'); -%>