<%- include('components/header',{Title: "Delete Confirmation"}) -%>
    <div class="MainNoteInMiddle">
        <h1>Do you really want to delete?</h1>
        <div>
            <form method="POST" action="/Data-Handler/delete/id/del/<%=CustomerID._id%>">
                <button class="confirmation-delete-button" type="submit" name="confirmation" value="yes">Yes</button>
                <button class="confirmation-delete-button" type="submit" name="confirmation" value="no">No</button>
            </form>
        </div>
    </div>
<%- include('components/footer') -%>