<%- include('components/header', {title: 'ItsMe Prince Shop'}) -%>


    This is homepage
    <a href="/Data-Handler">
        <button>Get Started</button>
    </a>
    
<%- include('components/footer'); -%>