<%- include('components/header',{Title: "Message"}) -%>
    <div class="MainNoteInMiddle">
        <h1>Data has been successfully modified!</h1>
        <div class="about-buttons">
            <a href="/">
                <button>Home</button>
            </a>
            <a href="/Data-handler/new">
                <button>Add</button>
            </a>
            <a href="/Data-handler/details">
                <button>Details</button>
            </a>
        </div>
    </div>
<%- include('components/footer'); -%>