<%- include('components/header', {Title: "Search Menu"}) -%>
<%- include('components/navbar') -%>
    <div class="MAINSEARCHCONTAINER">
        <div class="search-items-container">
            <h1 class="search-header-title">Select Search Method</h1>
            <div class="search-buttons">
                <a href="/Data-handler/search/search-menu?para=Name">
                    <button>Name</button>
                </a>
                <a href="/Data-handler/search/search-menu?para=UID">
                    <button>UID</button>
                </a>
                <a href="/Data-handler/search/search-menu?para=Item">
                    <button>Item</button>
                </a>
                <a href="/Data-handler/search/search-menu?para=Price">
                    <button>Price</button>
                </a>
            </div>
        </div>
    </div>
<%- include('components/footer'); -%>