<%- include('components/header', {title: 'My Page Title', author: 'Itsme Prince'}) -%>
<h1>Purchase done.</h1>
    <a href="/Data-Handler/details">
        <button>Show all purchases</button>
    </a>
    <a href="/">
        <button>home</button>
        </a>
        <br>
    <%- include('components/footer'); -%>